@model IEnumerable<ThAmCo.Events.Data.Staffing>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.Event.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Id)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { eventId = item.EventId, staffId = item.StaffId })
            </td>
        </tr>
}
    </tbody>
</table>
